<%
layout("/page/layout.html",{pageTitle:'产品列表',index:'active',pageId:'1'}){
%>
<!-- Page Content Wraper Area Start -->
<section class="page-content-wrapper">
	<div class="container">
		<div class="row">
			<div class="content-full pt-50 pb-55 fix">
				<div class="col-md-12">
					<!--NAV PILL-->
					<div class="shop-tab-pill">
						<div class="nav-menu-grid">
							<ul class="nav nav-pills">
								<li>
									<a data-toggle="pill" href="#grid"><i class="icon_grid-2x2"></i></a>
								</li>
								<li class="active">
									<a data-toggle="pill" href="#list"><i class="icon_menu"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Left Side Start -->
				<div class="col-md-3">
					<div class="right-area pt-35">
						<div class="product-filter">
							<h6>产品过滤</h6>
							<!-- Category Product -->
							<div class="category mt-50">
								<h4>优质品牌</h4>
								<ul style="margin-top: 10px;" class="brand">
									<%
									for(brand in brandList!){
									%>
									<li>
										<button id="brand${brand.id}" class="btn btn-default" style="margin-right: 5px;margin-top: 5px;" onclick="selectProduct('${brand.id}',null,null,this)">${brand.name}</button>
									</li>
									<%}%>
								</ul>
							</div>
							<!-- Category Product -->
							<!-- Category Product -->
							<div class="category mt-50">
								<h4>护肤效果</h4>
								<ul style="margin-top: 10px;" class="effect">
									<%
									for(effect in effectList!){
									%>
									<li>
										<button id="effect${effect.id}"  class="btn btn-default" style="margin-right: 5px;margin-top: 5px;" onclick="selectProduct(null,null,'${effect.id}',this)">${effect.name}</button>
									</li>
									<%}%>
								</ul>
							</div>
							<!-- Category Product -->
							<!-- Category Product -->
							<div class="category mt-50">
								<h4>彩妆类型</h4>
								<ul style="margin-top: 10px;" class="type">
									<%
									for(type in typeList!){
									%>
									<li>
										<button id="type${type.id}"  class="btn btn-default" style="margin-right: 5px;margin-top: 5px;" onclick="selectProduct(null,'${type.id}',null,this)">${type.name}</button>
									</li>
									<%}%>
								</ul>
							</div>
							<!-- Category Product -->
						</div>
					</div>
				</div>
				<!-- Left Side End -->
				<!-- Right Side Start -->
				<div class="col-md-9">
					<div class="tab-content">
						<div id="grid" class="shop-left pt-35 tab-pane fade">
							<div class="shop-tab-area">
								<div class="row" id="productListModeGrid">
									<%
									#ajax productListModeGrid:{
									 	if(goodsList == null || goodsList.~size<=0) {%>
										<span>暂无数据...</span>
									<% }else{
										for(goods in goodsList!){
									%>
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="${ctxPath}/singleProduct?id=${goods.id}"><img src="${ctxPath}/${goods.images}" alt="" /></a>
												<span class="pro-level">Sale</span>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="${ctxPath}/api/addCart/${goods.id}?redirect=/shopList" class="icon_cart_alt"></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">${goods.name}</a></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="new-price">${goods.price}</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
									<%}}}%>
								</div>
							</div>
						</div>
						<div id="list" class="shop-right pt-35 tab-pane fade in active">
							<div class="row" id="productListMode">
								<%
								#ajax productListMode:{
									if(goodsList == null || goodsList.~size<=0) {%>
								<span>暂无数据...</span>
								<% } else {
								for(goods in goodsList!){
								%>
								<!-- Single product -->
								<div class="col-md-12">
									<div class="blog-single mb-50">
										<div class="blog-img">
											<img src="${ctxPath}/${goods.images}" alt="" />
											<a href="${ctxPath}/singleProduct?id=${goods.id}" class="icon_link"></a>
											<span class="pro-level">New</span>
										</div>
										<div class="product-contnt">
											<div class="product-info">
												<div class="pro-titel">
													<h4><a href="single-product.html">${goods.name}</a></h4>
												</div>
												<div class="pro-rate text-right">
													<div class="rating-box">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="price-box">
														<span class="new-price">${goods.price}</span>
													</div>
												</div>
											</div>
											<div class="pro-text">
												<p>${goods.remake}</p>
											</div>
											<div class="pro-social-cart">
												<ul>
													<li><a href="#" class="icon_refresh"></a></li>
													<li><a href="#" class="icon_heart_alt"></a></li>
													<li>
														<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
													</li>
												</ul>
												<div class="pro-cart">
													<a href="${ctxPath}/api/addCart/${goods.id}?redirect=/shopList">添加至购物车<span class="icon-left" data-icon="&#x24;"></span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Single product -->
								<%}}}%>
							</div>
						</div>
					</div>
				</div>
				<!-- Right Side End -->
				<!-- Page Pagination Start -->
				<div class="col-md-12">
					<div class="page-pagination text-center pt-50">
						<ul>
							<li class="active"><a href="${ctxPath}/shopList">首页</a></li>
							<li><a href="${ctxPath}/shopList">上一页</a></li>
							<li><a href="${ctxPath}/shopList">下一页</a></li>
							<li><a href="${ctxPath}/shopList">尾页</a></li>
<!--							<li class="next"><a href="#"><span class="icon-left" data-icon="&#x24;"></span></a></li>-->
						</ul>
					</div>
				</div>
				<!-- Page Pagination End -->
			</div>
		</div>
	</div>
</section>
<!-- Page Content Wraper Area End -->
<script>
	let brandCache = '${brandValue!}';
	let typeCache = '${typeValue!}';
	let effectCache = '${effectValue!}';
	if (brandCache!==null){
		$("#brand"+brandCache).removeClass("btn-default").addClass("btn-success");
	}
	if (typeCache!==null){
		$("#type"+typeCache).removeClass("btn-default").addClass("btn-success");
	}
	if (effectCache!==null){
		$("#effect"+effectCache).removeClass("btn-default").addClass("btn-success");
	}

	function selectProduct(brand,type,effect,e){
		if (brand !== null){
			$(".brand li button").removeClass("btn-success").addClass("btn-default");
			$(e).addClass("btn-success");
			brandCache = brand;
		}
		if (type !== null){
			$(".type li button").removeClass("btn-success").addClass("btn-default");
			$(e).addClass("btn-success");
			typeCache = type;
		}
		if (effect !== null){
			$(".effect li button").removeClass("btn-success").addClass("btn-default");
			$(e).addClass("btn-success");
			effectCache = effect;
		}

		$.ajax({
			url:'${ctxPath}/api/productGrid?brand='+brandCache+'&type='+typeCache+'&effect='+effectCache,
			method: 'get',
			success:function (result) {
				$('#productListModeGrid').html(result)
			}
		});

		$.ajax({
			url:'${ctxPath}/api/productList?brand='+brandCache+'&type='+typeCache+'&effect='+effectCache,
			method: 'get',
			success:function (result) {
				$('#productListMode').html(result)
			}
		});
	}

</script>
<%
}
%>