<!-- Footer Top Area End -->
<div class="fotter-area dark-gray-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="address-area res-mb-sm-30">
                    <a href="index.html">shopzon</a>
                    <p>一家终于化妆品的商城，你值得拥有.</p>
                    <div class="contact-social mt-40">
                        <ul>
                            <li>
                                <a href="#" class="social_facebook "></a>
                            </li>
                            <li>
                                <a href="#" class="social_twitter "></a>
                            </li>
                            <li>
                                <a href="#" class="social_googleplus"></a>
                            </li>
                            <li>
                                <a href="#" class="social_linkedin "></a>
                            </li>
                            <li>
                                <a href="#" class="social_instagram "></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 xs-res-mrbtm">
                <div class="footer-menu res-mb-sm-30">
                    <h4>友情链接</h4>
                    <ul>
                        <li><a href="https://www.baidu.com">淘宝商城</a></li>
                        <li><a href="#">京东商城</a></li>
                        <li><a href="#">苏宁易购</a></li>
                        <li><a href="#">网易购物</a></li>
                        <li><a href="#">当当好货</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="footer-menu">
                    <h4>选购指南</h4>
                    <ul>
                        <li><a href="#">热卖</a></li>
                        <li><a href="#">畅销</a></li>
                        <li><a href="#">供应商</a></li>
                        <li><a href="#">Our Store</a></li>
                        <li><a href="#">Deal of The Day</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 xs-res-mrbtm">
                <div class="footer-menu">
                    <h4>联系信息</h4>
                    <div class="contact-details">
                        <ul>
                            <li>
                                <span class="icon_pin"></span>
                                <p>你猜我在哪里？？</p>
                            </li>
                            <li>
                                <span class="icon_mail"></span>
                                <p>shopzon@magic.com</p>
                            </li>
                            <li>
                                <span class="icon_phone "></span>
                                <p>(256) 987 654 321</p>
                            </li>
                            <li>
                                <span class="icon_clock_alt"></span>
                                <p>8.00 am-6.00 pm</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Top Area End -->
<div class="footer-bottom-area black-bg">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Copyright &copy; 2020.填写需要的信息.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="${ctxPath}/img/icon/payment.png" alt="" />
            </div>
        </div>
    </div>
</div>