<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.cosmetic.dao.TypeMapper">
  <resultMap id="BaseResultMap" type="com.magic.cosmetic.bean.Type">
    <!--@mbg.generated-->
    <!--@Table type-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="top" jdbcType="INTEGER" property="top" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="state" jdbcType="BOOLEAN" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `top`, remake, `state`, created_by, created_time, updated_by, updated_time
  </sql>
</mapper>